<style type="text/css">
 #allmap {width:100%;height:100%;}
</style>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6g0xlY8ISU77UsnVp7EgIt3mV54k6Gmz"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>

<div class="layui-form-item" style="display:block;height:400px;">
	<div id="allmap"></div>
</div>

<table class="layui-table dinner-table" lay-skin="row" lay-even="">
    <tbody>
			<tr>
				<td style="width: 100px;">
					订单编号：{$record.order_num}
				</td>
				<td style="width: 100px;">
					订单类型：{$record.order_type}
				</td>
				<td style="width: 100px;">
					订单状态：{$record.order_status}
				</td>
				<td style="width: 100px;">
					订单开始时间：{$record.start_time}
				</td>
				<td style="width: 150px;">
					订单结束时间：{$record.end_time}
				</td>
				<td style="width: 100px;">
					城市：{$record.city_name}
				</td>
				<td style="width: 100px;">
					楼盘：{$record.build_name}
				</td>
			</tr>

			<tr>
				<td style="width: 100px;">
					司机：{$record.driver_name}
				</td>
				<td style="width: 100px;">
					车牌号：{$record.number_plate}
				</td>
				<td style="width: 100px;">
					部门：{$record.department_name}
				</td>
				<td style="width: 100px;">
					销售顾问：{$record.sale_name}
				</td>
				<td style="width: 150px;">
					起始地：{$record.start_address}
				</td>
				<td style="width: 100px;">
					目的地：{$record.end_address}
				</td>
				<td style="width: 100px;">
					行驶公里数：{$record.driver_start_mileage}
				</td>
			</tr>

    </tbody>		
	
    </tbody>
</table>

<script type="text/javascript">
// 百度地图API功能

        var map = new BMap.Map('allmap');
        map.enableScrollWheelZoom();
        var lushu;
     	var arrPois = new Array();
     	var array = eval('({$record.gps})');
     	for (var i = 0; i < array.length; i++) {
     		var str = array[i].split(",");
     		arrPois.push(new BMap.Point(str[0],str[1]));
     	}
     	if(array.length == 0){
     		var startLat = {$record.start_lat};
     		var startLng = {$record.start_lng};
     		map.centerAndZoom(new BMap.Point(startLng, startLat), 10);
     	}else{
     		var lastStr = array[array.length-1].split(",");
     		map.centerAndZoom(new BMap.Point(lastStr[0], lastStr[1]), 10);
     	}
     	//map.centerAndZoom(new BMap.Point(lastStr[0], lastStr[1]),10);

      	map.addOverlay(new BMap.Polyline(arrPois, {strokeColor: '#111'}));
      	lushu = new BMapLib.LuShu(map, arrPois, {
                        autoView : true,
                        enableRotation : true,
                        autoView:true,//是否开启自动视野调整，如果开启那么路书在运动过程中会根据视野自动调整
                        icon  : new BMap.Icon('http://developer.baidu.com/map/jsdemo/img/car.png', new BMap.Size(52,26),{anchor : new BMap.Size(27, 13)}),
                        speed : 500,
                        landmarkPois:[]
         });
      	lushu.start();

</script>
