<div class="layui-header header header-theme-one">

    <!-- 顶级右边开始 -->
    <div class="dinner-site-resize">
        <div class="dinner-side-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="dinner-side-full" id="dinner-side-full">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </div>
    </div>
    <!-- 顶级右边结束 -->

    </textarea>

    <div class="layui-main dinner-header-body">

        <!-- 顶级左侧logo区域开启 -->
        <div class="dinner-logo-box">
            <a class="dinner-logo-title" href="javascript:void(0);" title="出车系统"><span style="">Car Out</span></a>
            <a class="logo" href="javascript:void(0);" title="logo"><img src="/static/images/logo.png" alt=""></a>
        </div>
        <!-- 顶级左侧logo区域结束 -->

        <!-- 顶级中间区域导航开启 -->
        <div class="layui-dinner-menu">
            <!--<ul class="layui-nav clearfix">-->
                <!--<li class="layui-nav-item layui-this">-->
                    <!--<a href="javascirpt:;"><i class="fa fa-home"></i>模块1</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <!-- 顶级中间区域导航结束 -->

        <!-- 顶级右侧区域导航开启 -->
        <ul class="layui-nav dinner-header-item">
            <li class="layui-nav-item first">
                <a href="javascript:;">
                    <img src="/static/images/default-user.png" class="userimg">
                    <cite>Dinner</cite>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">操作1</a>
                    </dd>
                    <dd>
                        <a href="">操作2</a>
                    </dd>
                </dl>
            </li>
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;" id="lock">-->
                    <!--<i class="fa fa-lock" aria-hidden="true" style="padding-right: 3px;padding-left: 1px;"></i> 锁屏 (Alt+L)-->
                <!--</a>-->
            <!--</li>-->
            <li class="layui-nav-item">
                <a href="/manage/login/logout.html">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    退出</a>
            </li>
        </ul>
        <!-- 顶级右侧区域导航结束 -->

    </div>
</div>