<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表格</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>

<form class="layui-form layui-form-pane" action="{:url('list')}" method="post">
    <div class="layui-form-item">

        <label class="layui-form-label">司机</label>
        <div class="layui-input-inline">
            <select name="driverId" lay-search>
                <option value="">请选择司机</option>
                {volist name='driverList' id='vo' key='key'}
                <option value="{$vo.id}">{$vo.real_name}</option>
                {/volist}
            </select>
        </div>

        <label class="layui-form-label">开始日期:</label>
        <div class="layui-input-inline">
            <input name="create_time_start" value="" class="layui-input" placeholder="开始日期" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
        </div>

        <label class="layui-form-label">结束日期:</label>
        <div class="layui-input-inline">
            <input name="create_time_end" value="" class="layui-input" placeholder="结束日期" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
        </div>

        <button class="layui-btn" lay-submit="">查询</button>

    </div>
</form>

<table class="layui-table" lay-even="" lay-skin="row">
    <thead>
    <tr>
        <th>车牌号</th>
        <th>司机</th>
        <th>签到时间</th>
        <th>行驶时间(分钟)</th>
        <th>行驶公里数(公里)</th>
        <th>其他费用</th>
        <th>订单费用</th>
        <th>总费用</th>
        <th style="width:50px; text-align: center">操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name='salary' id='vo' key='key'}
    <tr data-key="1">
        <td style="width: 100px;">{$vo.number_plate}</td>
        <td style="width: 100px;">老司机开挖掘机</td>
        <td style="width: 100px;">
            {$vo.sign_time}
        </td>
        <td style="width: 100px;">{$vo.driverTime}</td>
        <td style="width: 100px;">{$vo.driver_mileage}</td>
        <td style="width: 100px;" id='order_money' >
            {$vo.other_money?$vo.other_money:'0.00'}
        </td>
        <td style="width: 100px;">
            {$vo.order_money?$vo.order_money:'0.00'}
        </td>
        <td style="width: 100px;">
            {$vo.sum_money?$vo.sum_money:'0.00'}
        </td>
        <td style="width: 150px;text-align: center;">
            <a href="javascript:void(0);"><button onclick="showUrl('编辑','detail?id={$vo.id}','70%','80%','2')" class="layui-btn layui-btn-mini"><i class="fa fa-pencil"></i>编辑</button></a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>

<!-- 分页容器 -->
<div id="paging_0124" style="text-align:right;" data-pages="<?php echo isset($count)?$count:0; ?>"></div>
<!--  全局 -->
<script type="text/javascript" src="__JS__/site.js"></script>

<script>

    layui.use([ 'laydate', 'form'], function() {
    });
</script>
<script>
    $(function() {
        layui.use(['laypage', 'layer'], function(){
            var laypage = layui.laypage,
                element = 'paging_0124',
                currPage = $.getUrlParam('pageNumber'),
                count = $('#'+element).attr('data-pages');
            currPage = currPage > 1 ? currPage : 1;
            count = count ? count : 0;
            laypage({
                curr:currPage,
                cont: element,
                pages: count,
                skip: true,
                jump: function(obj,first){
                    if(obj.curr != currPage) {
                        var url = location.href;
                        if(url.indexOf("?") == -1) {
                            location.href = url+"?pageNumber="+obj.curr;
                        }else {
                            var page = $.getUrlParam('pageNumber');
                            if(page) {
                                location.href = url.replace("pageNumber="+page,"pageNumber="+obj.curr);
                            }
                            else {
                                location.href = url.replace("?","?pageNumber="+obj.curr+"&");
                            }
                        }
                    }
                }
            });
        });
    });
</script>

</body></html>