<form class="layui-form layui-form-pane" action="{:url('list')}">
    <div class="layui-form-item">
        <label class="layui-form-label">司机姓名:</label>
        <div class="layui-input-inline">
            <input type="text" name="username" class="layui-input" datatype="*" nullmsg="请填写司机姓名" errormsg="司机姓名不正确" value="{$front.real_name}"/>
        </div>

        <label class="layui-form-label">开始日期:</label>
        <div class="layui-input-inline">
             <input name="create_time_start" value="{$front.create_time_start}" class="layui-input" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
        </div>
        <label class="layui-form-label">结束日期:</label>
        <div class="layui-input-inline">
             <input name="create_time_end" value="{$front.create_time_end}" class="layui-input"  onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
        </div>
		<input type="submit" class="layui-btn" value="查询">
		<a href="{:url('add')}?iframe=true" class="layui-btn" >添加</a>
    </div>
</form>

<table class="layui-table" lay-even="" lay-skin="row">
    <thead>
    <tr>
		<th>ID序号</th>
        <th>姓名</th>
        <th>手机</th>
        <th>城市</th>
        <th>点评</th>
        <th>添加时间</th>
        <th style="width:50px; text-align: center">操作</th>
    </tr>
    </thead>
    <tbody>

{volist name="driverList" id="vo" key="key" empty="暂时没有数据"}
    <tr data-key="{$key}">
        <td style="width: 100px;">
            {$vo.id}
        </td>
        <td style="width: 100px;">
			{$vo.real_name}
        </td>
        <td style="width: 100px;">
            {$vo.mobilephone}
        </td>
        <td style="width: 100px;">
            {$vo.name}
        </td>
        <td style="width: 100px;">
            {$vo.remark}
        </td>
        <td style="width: 150px;">
            {$vo.create_time}
        </td>
        <td style="width: 150px;text-align: center;">
				<a class="layui-btn" href="{:url('edit',array('id'=>$vo.id))}?iframe=true">
					编辑
				</a>
				<button onclick="delDriver({$vo.id})" class="layui-btn">删除</button>
        </td>
    </tr>
{/volist}
    </tbody>
</table>
<!-- 分页容器 主要是传递总数 -->
<div id="paging_0124" style="text-align:right;" data-pages="{$count}"></div>

<script>
    layui.use([ 'laydate', 'form'], function() {});
    var alertMessage = function (msg,icon,type,shift,time,shade) {
        msg = msg || '提示信息缺失';
        icon = icon || 0;
        type = type || 0;
        shift = shift || 3;
        time = time || 1000;
        shade = shade || 0.372;
        var config = {icon: icon,type: type,shift: shift,time:time,shade:shade};
        layui.use(['layer'],function () {
            layer.msg(msg,config);
        });
    };

	//删除
	function delDriver(id){
		$.post("{:url('delDriver')}",{id:id},function(data){
			if(data.code==200){
				alertMessage(data.message,6,'',6);
				window.location.href=data.data;
			}else{
				alertMessage(data.message,5,'',6);
			}
		},"json");
	}

</script>
<!-- 分页JavaScript代码 主要是传递总数 -->
<script>
    $(function() {
        layui.use(['laypage', 'layer'], function(){
            var laypage = layui.laypage,
                element = 'paging_0124',
                currPage = $.getUrlParam('pageNumber'),
                count = $('#'+element).attr('data-pages');
				currPage = currPage > 1 ? currPage : 1;
				count = count ? count : 0;
				laypage({
					curr:currPage,
					cont: element,
					pages: count,
					skip: true,
					jump: function(obj,first){
						if(obj.curr != currPage) {
							var url = location.href;
							if(url.indexOf("?") == -1) {
								location.href = url+"?pageNumber="+obj.curr;
							}else {
								var page = $.getUrlParam('pageNumber');
								if(page) {
									location.href = url.replace("pageNumber="+page,"pageNumber="+obj.curr);
								}
								else {
									location.href = url.replace("?","?pageNumber="+obj.curr+"&");
								}
							}
						}
					}
				});
        });
    });
</script>
